* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

img {
  -webkit-user-drag: none;
  pointer-events: none;
}

html,
body,
#root {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  height: 100%;
  overflow: hidden;
  font-size: clamp(12px, 1.2vw, 18px);
}